.cardimg{
  border-radius: 25px;
  height: 200px;
}
.card{
  text-align: center;
  margin: 130px;
  margin-top: 45px;
  margin-right: 100px;
  
}
.cardlist{
  display: flex;
  flex-wrap: wrap;
}
.butt{
  text-align: center;
}